<navbar></navbar>
<div class="mainContent container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8 col-md-8 col-sm-6">
        <h1>{{vote.poll.title}}</h1>
        <canvas id="doughnutChartLarge"
                class="chart chart-doughnut"
                chart-data="vote.poll.votes"
                chart-labels="vote.poll.options"
                chart-click="onClick"
                chart-legend="true">
        </canvas>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <form class="text-left" name="form" ng-submit="onSubmit(form)">
          <legend><h4>{{vote.poll.name}}</h4></legend>

          <div ng-repeat="option in vote.poll.options">
            <input type="radio" name="option" ng-model="vote.selection" ng-value="$index">{{option}}<br>
          </div>
          <input type="radio" name="option" ng-model="vote.selection" value="-2"><input ng-focus="vote.selection = -2"  ng-model="vote.newOption" type="text"><br>

          <br>
          <button class="btn btn-lg btn-success" type="submit">
            Vote!
          </button>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
